@model IEnumerable<ManagerEmail.Models.Domains.Email>

@{
    ViewBag.Title = "Email";
}

<h2>Emails</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Message</th>
                <th scope="col">Recipient</th>
                <th scope="col">Sent date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var email in Model)
            {
                <tr>
                    <td>@email.Id</td>
                    <td>
                        @email.Title
                    </td>
                    <td>@email.Message</td>
                    <td>@email.Recipient</td>
                    <td>@email.SentDate.ToString("dd-MM-yyyy")</td>
                 
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div> No Emails to show.</div>
}

